<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-payments-heading">Create or edit a Payments</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!payments.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="payments.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vendor">Vendor</label>
                    <input type="text" class="form-control" name="vendor" id="field_vendor"
                        [(ngModel)]="payments.vendor" required/>
                    <div [hidden]="!(editForm.controls.vendor?.dirty && editForm.controls.vendor?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vendor?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="payments.status" id="field_status"  required>
                        <option value="Paid">Paid</option>
                        <option value="Failed">Failed</option>
                        <option value="Hold">Hold</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentValue">Payment Value</label>
                    <input type="number" class="form-control" name="paymentValue" id="field_paymentValue"
                        [(ngModel)]="payments.paymentValue" required/>
                    <div [hidden]="!(editForm.controls.paymentValue?.dirty && editForm.controls.paymentValue?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentValue?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.paymentValue?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_initiatedDate">Initiated Date</label>
                    <div class="input-group">
                        <input id="field_initiatedDate" type="text" class="form-control" name="initiatedDate" ngbDatepicker  #initiatedDateDp="ngbDatepicker" [(ngModel)]="payments.initiatedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="initiatedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_confirmDate">Confirm Date</label>
                    <div class="input-group">
                        <input id="field_confirmDate" type="text" class="form-control" name="confirmDate" ngbDatepicker  #confirmDateDp="ngbDatepicker" [(ngModel)]="payments.confirmDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="confirmDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activated">Activated</label>
                    <input type="checkbox" class="form-control" name="activated" id="field_activated"
                        [(ngModel)]="payments.activated" />
                    <div [hidden]="!(editForm.controls.activated?.dirty && editForm.controls.activated?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activated?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="input-group">
                        <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="payments.createdDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="payments.createdBy" required/>
                    <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdBy?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedDate" type="text" class="form-control" name="lastUpdatedDate" ngbDatepicker  #lastUpdatedDateDp="ngbDatepicker" [(ngModel)]="payments.lastUpdatedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                        [(ngModel)]="payments.lastUpdatedBy" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userAccount">User Account</label>
                    <select class="form-control" id="field_userAccount" name="userAccount" [(ngModel)]="payments.userAccountId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAccountOption.id" *ngFor="let userAccountOption of useraccounts; trackBy: trackUserAccountById">{{userAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_appliedPackage">Applied Package</label>
                    <select class="form-control" id="field_appliedPackage" name="appliedPackage" [(ngModel)]="payments.appliedPackageId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packagesOption.id" *ngFor="let packagesOption of packages; trackBy: trackPackagesById">{{packagesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
