<div>
    <h2 id="page-heading">
        <span>Payments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payments" [routerLink]="['/payments/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Payments
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="payments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendor"><span>Vendor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentValue"><span>Payment Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initiatedDate"><span>Initiated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="confirmDate"><span>Confirm Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activated"><span>Activated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedDate"><span>Last Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedBy"><span>Last Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userAccountId"><span>User Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appliedPackageId"><span>Applied Package</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payments of payments ;trackBy: trackId">
                <td><a [routerLink]="['/payments', payments.id, 'view' ]">{{payments.id}}</a></td>
                <td>{{payments.vendor}}</td>
                <td>{{payments.status}}</td>
                <td>{{payments.paymentValue}}</td>
                <td>{{payments.initiatedDate | date:'mediumDate'}}</td>
                <td>{{payments.confirmDate | date:'mediumDate'}}</td>
                <td>{{payments.activated}}</td>
                <td>{{payments.createdDate | date:'mediumDate'}}</td>
                <td>{{payments.createdBy}}</td>
                <td>{{payments.lastUpdatedDate | date:'mediumDate'}}</td>
                <td>{{payments.lastUpdatedBy}}</td>
                <td>
                    <div *ngIf="payments.userAccountId">
                        <a [routerLink]="['../user-account', payments.userAccountId , 'view' ]" >{{payments.userAccountId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="payments.appliedPackageId">
                        <a [routerLink]="['../packages', payments.appliedPackageId , 'view' ]" >{{payments.appliedPackageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payments', payments.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payments', payments.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'payments', { outlets: { popup: payments.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="payments && payments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
