form.profile-form {
    margin: 10px;
    .section-label {
        color: rgba(0, 0, 0, 0.54);
        font-size: 16px;
        font-weight: bolder;
    }

    mat-card {
        mat-card-content {
            margin: 20px;
            .gender-list-form {
                width: 100%;
                mat-chip {
                    margin: 5px;
                    width: 115px;
                    cursor: pointer;
                    span {
                        margin-left: 5px;
                    }
                }
            }

            .status-list-form {
                width: 100%;
                mat-chip {
                    margin: 5px;
                    width: 120px;
                    cursor: pointer;
                    span {
                        margin-left: 5px;
                    }
                }
            }

            .chip-list-form {
                width: 100%;
                mat-chip-list {
                    mat-chip {
                        margin: 10px;
                        cursor: pointer;
                        span {
                            margin-left: 5px;
                        }
                    }
                }
                .add-chip-section {
                    input {
                        border-radius: 25px;
                        border: 2px solid #7e57c2;
                        padding: 15px;
                        height: 15px;
                    }
                    mat-icon {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
