<!--annon landing page-->
<!-- <div class="row">
    
    <div *ngIf="listMatches" class="col-md-8">
        
        <div class="row">
            <div *ngFor="let match of listMatches" class="col-md-6">

                <jhi-match-holder [match]="match"></jhi-match-holder>

            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="listMatches">
        <jhi-filters (listMatches)="onMatchesFound($event)"></jhi-filters>
    </div>
    <div class="col-md-8" *ngIf="!listMatches">
        <jhi-banner></jhi-banner>
    </div>
    <div class="col-md-4" *ngIf="!listMatches">
        <jhi-filters (listMatches)="onMatchesFound($event)"></jhi-filters>
    </div>
</div> -->



<div class="row" style="margin: 0px">
    
    <div class="col-md-12" style="margin: 0px; padding: 0px">
        <jhi-banner></jhi-banner>
    </div>
    <!-- <div class="col-md-4" style="margin: 0px; padding: 0px">
        <jhi-filters (listMatches)="onMatchesFound($event)"></jhi-filters>
    </div> -->
    <!-- <jhi-banner></jhi-banner> -->
</div>