<div>
    <h2 id="page-heading">
        <span>Profile Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile-settings" [routerLink]="['/profile-settings/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Profile Settings
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="profileSettings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="key"><span>Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isPublic"><span>Is Public</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedDate"><span>Last Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedBy"><span>Last Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userProfileId"><span>User Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profileSettings of profileSettings ;trackBy: trackId">
                <td><a [routerLink]="['/profile-settings', profileSettings.id, 'view' ]">{{profileSettings.id}}</a></td>
                <td>{{profileSettings.key}}</td>
                <td>{{profileSettings.isPublic}}</td>
                <td>{{profileSettings.createdDate | date:'mediumDate'}}</td>
                <td>{{profileSettings.createdBy}}</td>
                <td>{{profileSettings.lastUpdatedDate | date:'mediumDate'}}</td>
                <td>{{profileSettings.lastUpdatedBy}}</td>
                <td>
                    <div *ngIf="profileSettings.userProfileId">
                        <a [routerLink]="['../user-profile', profileSettings.userProfileId , 'view' ]" >{{profileSettings.userProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/profile-settings', profileSettings.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profile-settings', profileSettings.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'profile-settings', { outlets: { popup: profileSettings.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="profileSettings && profileSettings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
