<div>
    <h2 id="page-heading">
        <span>Chapters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chapters" [routerLink]="['/chapters/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Chapters
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="chapters">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activated"><span>Activated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedDate"><span>Last Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedBy"><span>Last Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initiatorEmail"><span>Initiator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="partnerEmail"><span>Partner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chapters of chapters ;trackBy: trackId">
                <td><a [routerLink]="['/chapters', chapters.id, 'view' ]">{{chapters.id}}</a></td>
                <td>{{chapters.status}}</td>
                <td>{{chapters.activated}}</td>
                <td>{{chapters.createdDate | date:'mediumDate'}}</td>
                <td>{{chapters.createdBy}}</td>
                <td>{{chapters.lastUpdatedDate | date:'mediumDate'}}</td>
                <td>{{chapters.lastUpdatedBy}}</td>
                <td>
                    <div *ngIf="chapters.initiatorId">
                        <a [routerLink]="['../idb-user', chapters.initiatorId , 'view' ]" >{{chapters.initiatorEmail}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chapters.partnerId">
                        <a [routerLink]="['../idb-user', chapters.partnerId , 'view' ]" >{{chapters.partnerEmail}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/chapters', chapters.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chapters', chapters.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'chapters', { outlets: { popup: chapters.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="chapters && chapters.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
