<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar" style="background: #744aab">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <span class="logo-img"></span> -->
        <span class="navbar-title">IDB</span>
        <span style="flex: 1 1 auto;"></span>
        <a mat-list-item routerLink="/" style="float: right">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-list-item (click) = "login()" *ngIf="!isAuthenticated()" style="float: right; margin-left: 15px;">
            <mat-icon>input</mat-icon>
        </a>
        <!-- <a mat-list-item routerLink="/register" *ngIf="!isAuthenticated()" style="float: right; margin-left: 15px;">
            <mat-icon>person_add</mat-icon>
        </a> -->
        <a mat-list-item (click) = "logout()" *ngIf="isAuthenticated()" style="float: right; margin-left: 15px;">
            <mat-icon>logout</mat-icon>
        </a>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" style="width: 320px;" [opened]="!mobileQuery.matches">
            <div>
                <div style="float:left; padding: 10px;">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar"
                        style="border-radius: 50%; width: 75px; height: 75px;">

                </div>
                <div style="float:left; padding: 10px;">
                    <h5><b>Suraj, 29</b></h5>
                    <p style="font-size: .9rem; line-height: .9; margin-bottom: 5px"><b>Delhi</b>
                        <mat-icon [inline]="true" style="padding-left: 3px;">location_city</mat-icon>
                    </p>
                    <a style="font-size: .9rem; line-height: .9; color:#744aab" routerLink=".">
                        Edit Profile<mat-icon [inline]="true" style="margin: 3px">edit</mat-icon></a>
                </div>

            </div>
            <hr style="margin-top: 100px">

            <mat-nav-list *ngIf="isAuthenticated()">
                <h3 mat-subheader><b>ACCOUNT</b></h3>
                <a mat-list-item routerLink="/dashboard">
                    <mat-icon>dashboard</mat-icon><span style="margin-left: 15px">Dashboard</span>
                </a>
                <a mat-list-item routerLink="/preference">
                    <mat-icon>contacts</mat-icon><span style="margin-left: 15px">Preferences</span>
                </a>
                <a mat-list-item routerLink=".">
                    <mat-icon>list_alt</mat-icon><span style="margin-left: 15px">Chapters</span>
                </a>
                <a mat-list-item routerLink=".">
                    <mat-icon>contacts</mat-icon><span style="margin-left: 15px">Contacts</span>
                </a>
                <a mat-list-item routerLink="/settings">
                    <mat-icon>settings</mat-icon><span style="margin-left: 15px">Settings</span>
                </a>
                <a mat-list-item (click)="logout()">
                    <mat-icon>logout</mat-icon><span style="margin-left: 15px">Logout</span>
                </a>
            </mat-nav-list>

            <mat-nav-list *ngIf="!isAuthenticated()">
                <h3 mat-subheader><b>ACCOUNT</b></h3>
                <a mat-list-item (click)="login()">
                    <mat-icon>input</mat-icon><span style="margin-left: 15px">Login</span>
                </a>
                <a mat-list-item (click)="signUp()">
                    <mat-icon>person_add</mat-icon><span style="margin-left: 15px">Sign Up</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>