<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-photos-heading">Create or edit a Photos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!photos.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="photos.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <div *ngIf="photos.image" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(photos.imageContentType, photos.image)">open</a><br>
                            <span class="pull-left">{{photos.imageContentType}}, {{byteSize(photos.image)}}</span>
                            <button type="button" (click)="photos.image=null;photos.imageContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, photos, 'image', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="photos.image" required/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="photos.imageContentType" />
                    <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.image?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="input-group">
                        <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="photos.createdDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="photos.createdBy" required/>
                    <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdBy?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedDate" type="text" class="form-control" name="lastUpdatedDate" ngbDatepicker  #lastUpdatedDateDp="ngbDatepicker" [(ngModel)]="photos.lastUpdatedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                        [(ngModel)]="photos.lastUpdatedBy" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userProfile">User Profile</label>
                    <select class="form-control" id="field_userProfile" name="userProfile" [(ngModel)]="photos.userProfileId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userProfileOption.id" *ngFor="let userProfileOption of userprofiles; trackBy: trackUserProfileById">{{userProfileOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
