<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photos">
            <h2><span>Photos</span> {{photos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="photos.image">
                        <a (click)="openFile(photos.imageContentType, photos.image)">open</a>
                        {{photos.imageContentType}}, {{byteSize(photos.image)}}
                    </div>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{photos.createdDate}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{photos.createdBy}}</span>
                </dd>
                <dt><span>Last Updated Date</span></dt>
                <dd>
                    <span>{{photos.lastUpdatedDate}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{photos.lastUpdatedBy}}</span>
                </dd>
                <dt><span>User Profile</span></dt>
                <dd>
                    <div *ngIf="photos.userProfileId">
                        <a [routerLink]="['/user-profile', photos.userProfileId, 'view']">{{photos.userProfileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photos', photos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
