<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-primary container">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome To IDB</h3>
      </div>
      <div class="panel-body">
        <div class="form-group"  [ngClass]="{'has-error': formErrors.gender}">
            <label class="col-md-2 control-label">I Am</label>
            <div class="col-md-8">
              <label class="radio-inline">
                <input type="radio" value="male" formControlName="gender"
                       (blur)="logValidationErrors()">Male
              </label>
              <label class="radio-inline">
                <input type="radio" value="female" formControlName="gender"
                       (blur)="logValidationErrors()">Female
              </label>
              <span class="help-block" *ngIf="formErrors.gender">
                {{formErrors.gender}}
              </span>
            </div>
        </div>

        <div class="form-group"  [ngClass]="{'has-error': formErrors.lfGender}">
            <label class="col-md-2 control-label">Looking For</label>
            <div class="col-md-8">
              <label class="radio-inline">
                <input type="radio" value="lfMale" formControlName="lfGender"
                       (blur)="logValidationErrors()">Male
              </label>
              <label class="radio-inline">
                <input type="radio" value="lfFemale" formControlName="lfGender"
                       (blur)="logValidationErrors()">Female
              </label>
              <span class="help-block" *ngIf="formErrors.lfGender">
                {{formErrors.lfGender}}
              </span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrors.age}">
            <label class="col-sm-2 control-label" for="age">Age</label>
            <div class="col-sm-6">
                <select id="age" formControlName="age" class="form-control" (blur)="logValidationErrors()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <span class="help-block" *ngIf="formErrors.age">
                        {{formErrors.age}}
                </span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrors.country}">
                <label class="col-sm-2 control-label" for="age">Country</label>
                <div class="col-sm-6">
                    <select id="country" formControlName="country" class="form-control" (blur)="logValidationErrors()">
                        <option value="1">India</option>
                    </select>
                    <span class="help-block" *ngIf="formErrors.country">
                            {{formErrors.country}}
                    </span>
                </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrors.state}">
                <label class="col-sm-2 control-label" for="state">State</label>
                <div class="col-sm-6">
                    <select id="state" formControlName="state" class="form-control" (blur)="logValidationErrors()">
                        <option value="1">MP</option>
                        <option value="2">MH</option>
                    </select>
                    <span class="help-block" *ngIf="formErrors.state">
                            {{formErrors.state}}
                    </span>
                </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrors.city}">
                <label class="col-sm-2 control-label" for="city">City</label>
                <div class="col-sm-6">
                    <select id="city" formControlName="city" class="form-control" (blur)="logValidationErrors()">
                        <option value="1">Pune</option>
                        <option value="2">Mumbai</option>
                    </select>
                    <span class="help-block" *ngIf="formErrors.city">
                            {{formErrors.city}}
                    </span>
                </div>
        </div>
        
      
      <div class="panel-footer">
        <div class="btn-toolbar">
          <button class="btn btn-primary" type="submit">Find Date</button>
          <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Sign In</button>
        </div>
      </div>
    </div>
  </div>
  </form>

  <div class="container">
      <div class="panel-body">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>

      <div class="card" style="width: 650px;">
          <!-- <div class="card-header bg-transparent"><button class="btn btn-primary" type="submit">Profile</button> </div> -->
          <div class="card-body">
              <button class="btn btn-primary" type="submit">Profile</button>
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
              <button class="btn btn-primary" type="submit">Request</button>
          </div>
          <!-- <div class="card-footer bg-transparent"> <button class="btn btn-primary" type="submit">Request</button></div> -->
        </div>

        <div class="card" style="width:500px">
            <div class="card-img" ><ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery></div>
            <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
  </div>
  