<div>
  <div>
        <div class="row" style="margin: 0px">
    
                <div class="col-md-12" style="margin: 0px; padding: 0px">
                    <jhi-banner></jhi-banner>
                </div>
                <!-- <div class="col-md-4" style="margin: 0px; padding: 0px">
                    <jhi-filters (listMatches)="onMatchesFound($event)"></jhi-filters>
                </div> -->
                <!-- <jhi-banner></jhi-banner> -->
            </div>
  </div>
</div>

    <!-- <div *ngIf="!account" style="margin: 0 50x 0 50px 0">
        <jhi-anon></jhi-anon>
    </div> -->