/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
      background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
      background-size: contain;
  }
}
.btn-primary{
  margin-right: 15px;
}


.demo {
  &-code {
    font-family: "Roboto Mono";
  }

  &-container {
    padding: 15px;
  }

  &-source {
    margin-left: 15px;
  }

  &-spacer {
    flex: 1 1 auto;
  }

  &-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
  }

  &-margin {
    margin: 0 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &-carousel {
    margin-top: 16px;
  }
}