@import '~@angular/material/theming';
@include mat-core();

$idb-primary: mat-palette($mat-deep-purple, 400);
$idb-secondary: mat-palette($mat-purple, 400);

$idb-theme: mat-light-theme($idb-primary, $idb-secondary);

@include angular-material-theme($idb-theme);
